*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  scroll-behavior: smooth;
  font-size: 18px;
  --primaryColor: #2B2B2B;
  --secondaryColor: #3F69FF;
  --terciariColor: #ffdd90;
}

ul,
ol{
  list-style: none;
}

a{
  text-decoration: none;
}

body{
  width: 100%;
  font-size: 1rem;
  font-family: system-ui;
}

.header{  
  width: 100%;
  height: 600px;
}

.header__top{
  background-color: white;
  width: 100%;
  height: 120px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:Arial, Helvetica, sans-serif ;
}

.header__top::after{
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: var(--primaryColor);
  opacity: .2;
}

.header__top__logo{
  position: absolute;
  left: 50px;
}
/* Este es el logo del header top */
/* Despues hay que cambiarlo por un logo de verdad */
.header__top__logo a{
  color: var(--primaryColor);
  font-size: 1.5rem;
  font-weight: 600;
}

.header__top__title{
  font-size: 1.9rem;
  text-transform: uppercase;
  font-weight: 400;
  margin: auto;
}

.hero
{
  background-image: url(/img/background-image.jpg);
  height: calc(100% - 60px);
  margin: auto;
  padding: 0 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/**/
.hero__slogan{
  height: 100px;
  text-align: center;
  color: #fff;
  font-size: 1.6em;
  font-family:Arial, Helvetica, sans-serif;
}

.hero__form{
  max-width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--terciariColor);
  border-radius: 10px;
  overflow: hidden;
  padding: 30px;
}

.hero__form legend{
  color: var(--secondaryColor);
  font-size: 1.5rem;
  text-align: center;
  font-weight: 700;
  letter-spacing: 1px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.form__hero{
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__hero input{
  margin: 20px 0;
  width: 85%;
  height: 35px;
  border-radius: 3px;
  border: 1px solid rgba(19, 3, 3, 0.5);
  background: transparent;
  padding-left: 20px;
  outline: none;
  color: var(--primaryColor);
  font-weight: bold;
}

/* Por el momento queda asi */
.hero__form__error{
  color: red;
}

.hero__form__button__send{
  background: white;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  color: black;
  font-size: 1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Navegacion */
.container__navbar{
  background: var(--secondaryColor);
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
}

.container__navbar .logo{
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  margin-left: 50px;
}

.nav{
  margin-right: 50px;
}

.nav__list{
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__list__item{
  margin: 10px;
}

.nav__list__item__element{
  font-size: 1.2rem;
  color: white;
}

.nav__list__item__element:hover{
  transition: .2s ease-in-out;
  color: rgba(241, 241, 241, .6);
}
/* Main */
/* Contenedor de filtros y productos grid */
.products{
  background-color: #ffdd90;
  width: 100%;
  margin-top: 100px;
  padding: 20px;
  display: flex;
  justify-content: center;
  position: relative;
}

.products__title{
  width: 100%;
  font-size: 2rem;
  text-align: center;
  font-weight: 500;
  position: absolute;
  top: -60px;
  margin-top: 0px;
}

/* contenedor de filtros */
.product__filter{
  margin-right: 20px;
  min-width: 280px;
  max-width: 300px;
  min-height: 250px;
  max-height: 650px;
  border-radius: 5px 5px 0 0;
  background-color: var(--primaryColor);
  text-align: center;
  padding: 20px;
}

.product__filter__title{
  color: white;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 1.9rem;
}
/* Filtros */
.product__filter__nav,
.color__filter__nav{
  margin: 40px 0;
  position: relative;
  overflow: hidden;
}

.chevron__product__filter,
.chevron__color__filter{
  font-size: 1.6rem;
  position: absolute;
  top: 5px;
  left: 0;
  color: var(--secondaryColor);
  cursor: pointer;
}

.product__filter__nav__title,
.color__filter__nav__title{
  color: white;
  font-weight: 500;
  max-width: 75%;
  margin: auto;
  text-align: left;
  font-size: 1.4rem;
  position: relative;
  cursor: pointer;
}

.product__filter__nav__title::after,
.color__filter__nav__title::after{
  content: "";
  position: absolute;
  top: 35px;
  left: 0px;
  height: 3px;
  width: 50px;
  background-color: #F57250;
}

.product__filter__list__products,
.color__filter__list{
  margin-top: 20px;
  text-align: center;
  overflow: hidden;
  transform: translateY(0);
  transition: transform .5s ease;
}
/* Esto es para que no se muestren los filtros si es que el estado del filtro no es activo */
.in__active{
  height: 0;
  transform: translateY(-250px);
  transition: transform .5s ease;
}

.rotate{
  transform: rotate(90deg);
  transition: transform .2s ease;
}


.product__filter__list__products__item{
  margin: 5px;
}

.product__filter__list__element,
.product__filter__list__colors{
  font-size: 1.3rem;
  font-weight: 400;
  color: white;
}

/* Hay que escribir codigo que cuando el nav Productos este activo muestre los filtro y cuando no los oculte */

/* Lo mismo para esto */
/* Cuando el filtro esta activado cambie de color */
.product__filter__list__element:hover,
.product__filter__list__colors:hover{
  color: var(--secondaryColor);
}

.products__container{
  width: 100%;
}

.products__container__grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  gap: 20px;
}

.product{
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px 5px 5px 5px;
  position: relative;
  overflow: hidden;
}

.product__heart__save{
  position: absolute;
  top: 15px;
  right: 15px;
  color: var(--secondaryColor);
  font-size: 1.2rem;
  cursor: pointer;
}

.product__heart__save:hover{
  transition: .3s ease-in-out;
  font-size: 1.3rem;
}

.product__image{
  object-fit: cover;
  margin: 0;
  padding: 0;
}

.description{
  padding: 10px;
}
.formulario
{
  border: 1px solid blue;
  border-radius: 5px;
  width: 600px;
  height: 445px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 350px;
}

/* Footer */

.footer{
  width: 100%;
  min-height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primaryColor);
}

.footer__container{
  width: 60%;
  min-height: 225px;
  margin: auto;
  padding: 15px 10px;
  /* border: 1px solid var(--terciariColor); */
  border: 1px solid red;
  border-radius: 8px;
}

.footer__social{
  max-width: 30%;
  margin: auto auto 20px auto;
  position: relative;
}

.footer__social::after{
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  background: #F57250;
  margin: auto;
  left: 0;
  right: 0;
  bottom: -10px;
}

.footer__social__list{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer__social__element{
  color: white;
  font-size: 1.7rem;
  text-align: center;
}

.footer__newlestter{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.footer__newlestter__form{
  width: 100%;
  display: grid;
}

.footer__newlestter__form legend{
  font-size: 1.3rem;
  color: white;
}

.footer__newlestter__form input{
  background: transparent;
  outline: none;
  border: 1px solid rgba(207, 207, 207, .5);
  border-radius: 3px;
  height: 27px;
  padding-left: 15px;
  margin-top: 10px;
  max-width: 200px;
  width: 100%;
  color: #cfcfcf;
}

.footer__newlestter__form__btn{
  background: #F57250;
  border: none;
  outline: none;
  margin: 15px 0;
  width: 120px;
  height: 28px;
  cursor: pointer;
  color: white;
  border-radius: 3px;
  font-size: 1rem;
}

.foter__data{
  width: calc(100% - 550px);
  padding-left: 15px;
  min-width: 200px;
}

.footer__data__element{
  color: white;
}

.footer__data__element:hover{
  color: #F57250;
  transition: .2s ease-in;
}

@media screen and (max-width: 800px){
  .hero__form{
    max-width: 350px;
  }

  .footer__social {
    max-width: 60%;
  }

  .footer__newlestter__form input{
    height: 30px;
  }

  .footer__newlestter{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .foter__data{
    margin-bottom: 25px;
  }

  .footer__newlestter__form {
    place-items: center;
  }
}

@media screen and (max-width: 320px){
  .header__top__title {
    font-size: 1.6rem;
  }

  .header__top__logo a {
    font-size: 1.3rem;
  }

  .hero__form{
    max-width: 300px;
  }
}
